# Ignore secret environment files
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs or debug output
*.log

# Ignore virtual environments
venv/
.env/

# Ignore the files the bot creats
Storage/active_quests.json
Storage/players.json
Storage/reminders.json
Storage/reminders.json
tokens.json
players.json
Storage/reminders.json
